<!-- replace this stylesheet with a link to your font. Optionally, you can add the font to your CSS file. Whichever you prefer, as long as the custom icon classes can be called successfully.-->
<link href="https://file.myfontastic.com/icons.css" rel="stylesheet">



<div ng-controller="fontIconPickerCtrl">
  <p><i class="customfonticon-{{model.value}}"></i><span ng-show="ShowClose()" class="close" ng-click="close()">X</span></p>
  <select ng-model="model.value">
    <option ng-selected="model.value === item.class" ng-repeat="item in items" value="{{item.class}}">{{item.name}}</option>
  </select>
</div>
